<br/>
<br/>
<br/>
<br/>
<div class="panel panel-default col-md-4 col-md-offset-4">
    <div class="panel-body">
        <form name="frmLogin"
              novalidate
              ng-submit="frmLogin.$valid && vm.login()"
              class="control-label">
            <fieldset>
                <legend>
                    <div class="row bottom-align-text"
                         align="center">
                        <img src="/assets/img/logo.png"
                             style="width:110px; height: 60px"></img>
                        <span style="vertical-align: bottom">Cockpit</span>
                    </div>
                </legend>
                <div class="form-group"
                     ng-class="{ 'has-error': (frmLogin.email.$dirty || frmLogin.$submitted) && frmLogin.email.$invalid}">
                    <label for='inputEmail'
                           class="col-md-3 control-label">E-mail</label>
                    <div class="col-md-9">
                        <input id='inputEmail'
                               class="form-control"
                               ng-model="vm.email"
                               name='email'
                               required
                               placeholder="E-mail"
                               ng-pattern="/^.+@.+\..+$/">
                        <div ng-messages="(frmLogin.email.$dirty || frmLogin.$submitted) && frmLogin.email.$error"
                             role="alert">
                            <div ng-message-exp="['required', 'pattern']">
                                Informe um endereço de e-mail válido
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group"
                     ng-class="{ 'has-error': (frmLogin.senha.$dirty || frmLogin.$submitted) && frmLogin.senha.$invalid}">
                    <label for="inputPassword"
                           class="col-md-3 control-label">Senha</label>
                    <div class="col-md-9">
                        <input id='inputPassword'
                               ng-model="vm.senha"
                               name='senha'
                               type="password"
                               required
                               ng-min='6'
                               class="form-control"
                               placeholder="Senha">
                        <div ng-messages="(frmLogin.senha.$dirty || frmLogin.$submitted) && frmLogin.senha.$error"
                             role="alert">
                            <div ng-message-exp="['required', 'ng-min']">
                                Senha deve conter no mínimo 6 caracteres
                            </div>
                        </div>

                    </div>
                </div>

                <!--div class="form-group ">
                    <div class="col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Lembrar acesso
                            </label>
                        </div> 
                    </div>
                </div-->
            </fieldset>

            <br/>
            <div class="form-group">
                <button type="submit"
                        class="btn btn-primary center-block"
                        style='width: 150px'>
                    Login
                </button>
            </div>

        </form>
    </div>
</div>