<div autohide>
    <nav class="navbar navbar-default navbar-fixed-top"
         role="navigation"
         style="margin:0">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand"
                   href="#!/"
                   style="margin-left: 20px;margin-right: 50px; padding:0">
                    <div class="row bottom-align-text"
                         align="center">
                        <img src="/assets/img/logo.png"
                             style="width:110px; height: 60px"></img>
                        <span style="vertical-align: bottom">Cockpit</span>
                    </div>
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#!/status-bd">Infraestrutura</a></li>
                </ul>

                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href=""
                           class="dropdown-toggle"
                           data-toggle="dropdown"> Serviços  <span class="caret"></span></a>

                        <ul class="dropdown-menu">
                            <li><a href="#!/indicadores-sms">SMS</a></li>
                            <li><a href="#!/indicadores-email">Email</a></li>
                            <li><a href="#!/indicadores-voz">Voz</a></li>
                        </ul>

                    </li>
                </ul>

                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href=""
                           class="dropdown-toggle"
                           data-toggle="dropdown"> Projetos e demandas  <span class="caret"></span> </a>

                        <ul class="dropdown-menu">
                            <li><a href="#!/lancamento-horas"> Controle de horas</a></li>
                            <li><a href="#!/indice-horas-projetos">Horas estimadas x realizadas</a></li>
                            <li><a href="#!/fila-demandas">Filas de demandas</a></li>
                        </ul>

                    </li>
                </ul>

                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href=""
                           class="dropdown-toggle"
                           data-toggle="dropdown"> Financeiro  <span class="caret"></span> </a>

                        <ul class="dropdown-menu">
                            <li><a href="#!/faturamento-clientes">Faturamento por cliente</a></li>
                            <li><a href="#!/financeiro-gsm">Acompanhamento mensal GSM</a></li>
                        </ul>

                    </li>
                </ul>


                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href=""
                           class="dropdown-toggle"
                           data-toggle="dropdown"> <span class="fa fa-user-o"></span> </a>

                        <div class="dropdown-menu panel panel-default"
                             ng-controller="painelUsuarioController as vm"
                             style="margin: 5px">
                            <div class="panel-body"
                                 style="height: 110px; width: 260px">

                                <div class="row"
                                     style="height: 80%">

                                    <div class='col-md-2'>
                                        <span class="fa fa-user-circle"
                                              style="font-size: xx-large; margin-top: 10px"></span>
                                    </div>
                                    <div class='col-md-10'>
                                        {{vm.usuario.nome}} <small> {{vm.usuario.email}}</small>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-12 text-right">

                                        <a class="btn btn-default btn-sm"
                                           href="#!/logout"
                                           role="button">Sair</a>

                                    </div>
                                </div>

                            </div>
                        </div>



                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href=""
                           class="dropdown-toggle"
                           data-toggle="dropdown"> <span class="fa fa-cog"></span> </a>

                        <ul class="dropdown-menu">
                            <li>
                                <a href=""
                                   ng-click="toggleRotacionarRotas()">
                                    <span class="glyphicon"
                                          ng-class="{'glyphicon-play': !rotacionarRotas, 'glyphicon-pause': rotacionarRotas}"
                                          aria-hidden="true">
                                </span> {{rotacionarRotas ? 'Parar' : 'Ativar'}} modo de apresentação

                                </a>
                            </li>
                        </ul>

                    </li>
                </ul>



            </div>
    </nav>
    </div>