<div class="panel panel-default"
     style="height: 100%; width:100%; padding-bottom: 36px">
    <div class="panel-heading">
        <h2 class="panel-title text-center">{{widget.options.titulo}}</h2>
    </div>
    <div class="panel-body text-center"
         style='padding:5px; height: 100%; overflow-y: hidden; overflow-x: hidden'>
        <div class="row">
            <div class="col-md-offset-10  col-md-1">
                <select ng-onchange='vm.randomizarDados()'
                        class="form-control"
                        style="box-shadow: 0 0 0 0">
                    <option value='1'>Janeiro</option>
                    <option value='2'>Fevereiro</option>
                    <option value='3' selected>Março</option>
                    <option value='4'>Abril</option>
                    <option value='5'>Maio</option>
                    <option value='6'>Junho</option>
                    <option value='7'>Julho</option>
                    <option value='8'>Agosto</option>
                    <option value='9'>Setembro</option>
                    <option value='10'>Outubro</option>
                    <option value='11'>Novembro</option>
                    <option value='12'>Dezembro</option>
                </select>
            </div>
            <div class=" col-md-1">
                <select ng-onchange='vm.randomizarDados()'
                        class="form-control"
                        style="box-shadow: 0 0 0 0">
                    <option>2014</option>
                    <option>2015</option>
                    <option>2016</option>
                    <option selected>2017</option>
                </select>
            </div>
        </div>
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th style="cursor:pointer; border-right: 1px groove rgba(255, 255, 255, 0.14902)"
                        ng-repeat="dia in vm.dias"
                        class='text-center'
                        ng-class='{active: dia==vm.diaSelecionado}'
                        ng-style="{'border-right-style' :  dia == vm.diaHoje ? 'groove' : 'none' }"
                        ng-click=" vm.diaSelecionado = vm.diaSelecionado == dia ? false : (dia <= vm.diaHoje ? dia :  vm.diaSelecionado)">{{dia}}</th>
                    <th>Acumulado Mês</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Vazão</td>
                    <td popover-trigger="'mouseenter'"
                        ng-mouseover="vm.setDetalhes('vazao', dia)"
                        popover-enable="dia <= vm.diaHoje"
                        popover-append-to-body='true'
                        popover-placement='left'
                        popover-animation="true"
                        uib-popover-template="'ragTimelineReportPopoverDetalhes.html'"
                        ng-repeat="dia in vm.dias"
                        ng-class='{active: dia==vm.diaSelecionado}'
                        style="text-align: left;  border-right: 1px groove rgba(255, 255, 255, 0.14902)"
                        ng-style="{'border-right-style' :  dia == vm.diaHoje ? 'groove' : 'none' }">

                        <span class='fa' ng-class="{'fa-circle': dia < vm.diaHoje, 'fa-circle-o': dia == vm.diaHoje, 'fa-circle-thin' : dia > vm.diaHoje  }"
                              ng-style="{'color': vm.dadosDias[dia-1].vazao.color || vm.defaultColor}">
                        </span> &nbsp;
                        <span ng-if="dia== vm.diaSelecionado"> {{vm.dadosDias[dia-1].vazao.valor | numberToPower}}</span>
                    </td>
                    <td popover-trigger="'mouseenter'"
                        ng-mouseover="vm.setDetalhes('vazao', dia)"
                        popover-append-to-body='true'
                        popover-placement='left'
                        popover-animation="true"
                        uib-popover-template="'ragTimelineReportPopoverDetalhes.html'"
                        style="text-align: left">
                        <span class="fa fa-circle "
                              ng-style="{'color': vm.dadosTotal.vazao.color || vm.defaultColor }">
                        </span> &nbsp;
                        <span> {{vm.dadosTotal.vazao.valor | numberToPower}}</span>
                    </td>
                </tr>
                <tr>
                    <td>Projetado</td>
                    <td popover-trigger="'mouseenter'"
                        popover-enable="dia <= vm.diaHoje"
                        ng-mouseover="vm.setDetalhes('projetado', dia)"
                        popover-append-to-body='true'
                        popover-placement='left'
                        popover-animation="true"
                        uib-popover-template="'ragTimelineReportPopoverDetalhes.html'"
                        ng-repeat="dia in vm.dias"
                        ng-class='{active: dia==vm.diaSelecionado}'
                        style="text-align: left;  border-right: 1px groove rgba(255, 255, 255, 0.14902)"
                        ng-style="{'border-right-style' :  dia == vm.diaHoje ? 'groove' : 'none' }">
                        <span class='fa' ng-class="{'fa-circle': dia < vm.diaHoje, 'fa-circle-o': dia == vm.diaHoje, 'fa-circle-thin' : dia > vm.diaHoje } "
                              ng-style="{'color': vm.dadosDias[dia-1].projetado.color || vm.defaultColor }">
                        </span> &nbsp;
                        <span ng-if="dia== vm.diaSelecionado"> {{vm.dadosDias[dia-1].projetado.valor | numberToPower}}</span>
                    </td>
                    <td popover-trigger="'mouseenter'"
                        ng-mouseover="vm.setDetalhes('projetado', dia)"
                        popover-append-to-body='true'
                        popover-placement='left'
                        popover-animation="true"
                        uib-popover-template="'ragTimelineReportPopoverDetalhes.html'"
                        style="text-align: left">
                        <span class="fa fa-circle"
                              ng-style="{'color': vm.dadosTotal.projetado.color || vm.defaultColor }">
                        </span> &nbsp;
                        <span> {{vm.dadosTotal.projetado.valor | numberToPower}}</span>
                    </td>
                </tr>
                <tr>
                    <td>Custo</td>
                    <td popover-trigger="'mouseenter'"
                        popover-enable="dia <= vm.diaHoje"
                        ng-mouseover="vm.setDetalhes('custo', dia)"
                        popover-append-to-body='true'
                        popover-placement='left'
                        popover-animation="true"
                        uib-popover-template="'ragTimelineReportPopoverDetalhes.html'"
                        ng-repeat="dia in vm.dias"
                        ng-class='{active: dia==vm.diaSelecionado}'
                        style="text-align: left;  border-right: 1px groove rgba(255, 255, 255, 0.14902)"
                        ng-style="{'border-right-style' :  dia == vm.diaHoje ? 'groove' : 'none' }">
                        <span class='fa' ng-class="{'fa-circle': dia < vm.diaHoje, 'fa-circle-o': dia == vm.diaHoje, 'fa-circle-thin' : dia > vm.diaHoje } "
                              ng-style="{'color': vm.dadosDias[dia-1].custo.color || vm.defaultColor }">
                        </span> &nbsp;
                        <span ng-if="dia== vm.diaSelecionado"> {{vm.dadosDias[dia-1].custo.valor | currency}}</span>
                    </td>
                    <td popover-trigger="'mouseenter'"
                        ng-mouseover="vm.setDetalhes('custo')"
                        popover-append-to-body='true'
                        popover-placement='left'
                        popover-animation="true"
                        uib-popover-template="'ragTimelineReportPopoverDetalhes.html'"
                        style="text-align: left">
                        <span class="fa fa-circle"
                              ng-style="{'color': vm.dadosTotal.custo.color || vm.defaultColor }">
                        </span> &nbsp;
                        <span> {{vm.dadosTotal.custo.valor | currency}}</span>
                    </td>
                </tr>
                <tr>
                    <td>Lucratividade </td>
                    <td popover-trigger="'mouseenter'"
                        popover-enable="dia <= vm.diaHoje"
                        ng-mouseover="vm.setDetalhes('lucratividade', dia)"
                        popover-append-to-body='true'
                        popover-placement='left'
                        popover-animation="true"
                        uib-popover-template="'ragTimelineReportPopoverDetalhes.html'"
                        ng-repeat="dia in vm.dias"
                        ng-class='{active: dia==vm.diaSelecionado}'
                        style="text-align: left;  border-right: 1px groove rgba(255, 255, 255, 0.14902)"
                        ng-style="{'border-right-style' :  dia == vm.diaHoje ? 'groove' : 'none' }">
                        <span class='fa' ng-class="{'fa-circle': dia < vm.diaHoje, 'fa-circle-o': dia == vm.diaHoje, 'fa-circle-thin' : dia > vm.diaHoje } "
                              ng-style="{'color': vm.dadosDias[dia-1].lucratividade.color || vm.defaultColor }">
                        </span> &nbsp;
                        <span ng-if="dia== vm.diaSelecionado"> {{vm.dadosDias[dia-1].lucratividade.valor | currency}}</span>
                    </td>
                    <td popover-trigger="'mouseenter'"
                        ng-mouseover="vm.setDetalhes('lucratividade')"
                        style="text-align: left"
                        popover-append-to-body='true'
                        popover-placement='left'
                        popover-animation="true"
                        uib-popover-template="'ragTimelineReportPopoverDetalhes.html'">
                        <span class="fa fa-circle"
                              ng-style="{'color': vm.dadosTotal.lucratividade.color || vm.defaultColor }">
                        </span> &nbsp;
                        <span> {{vm.dadosTotal.lucratividade.valor | currency}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script type="text/ng-template"
        id="ragTimelineReportPopoverDetalhes.html">
    <table class="table table-condensed ">
        <tbody>
            <tr ng-repeat='detalhe in vm.detalhes | orderBy:"valor"'>
                <td>{{detalhe.titulo}}</td>
                <td>{{detalhe.valor | number:2}}</td>
            </tr>
        </tbody>
    </table>
</script>