<div class="panel panel-default"
     style="height: 100%; width:100%; padding-bottom: 36px">
    <div class="panel-heading">
        <h3 class="panel-title text-center">{{widget.options.titulo}}</h3>
    </div>
    <div class="bt panel-body text-center"
         style='display: block;  height: 100%; width:100%;'>
        <h1>{{vm.valor | secondsToTime}}</h1>
    </div>
</div>