.yoyo.ng-enter {
    -webkit-animation: enter 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation: enter 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    display: block;
    position: relative;
}

@-webkit-keyframes enter {
    from {
        opacity: 0;
        height: 0px;
        left: -70px;
    }
    75% {
        left: 15px;
    }
    to {
        opacity: 1;
        height: 30px;
        left: 0px;
    }
}

@keyframes enter {
    from {
        opacity: 0;
        height: 0px;
        left: -70px;
    }
    75% {
        left: 15px;
    }
    to {
        opacity: 1;
        height: 30px;
        left: 0px;
    }
}

.yoyo.ng-leave {
    -webkit-animation: leave 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation: leave 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    display: block;
    position: relative;
}

@-webkit-keyframes leave {
    to {
        opacity: 0;
        height: 0px;
        left: -70px;
    }
    25% {
        left: 15px;
    }
    from {
        opacity: 1;
        height: 30px;
        left: 0px;
    }
}

@keyframes leave {
    to {
        opacity: 0;
        height: 0px;
        left: -70px;
    }
    25% {
        left: 15px;
    }
    from {
        opacity: 1;
        height: 30px;
        left: 0px;
    }
}

.slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.slide.ng-enter,
.slide.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.slide.ng-enter {
    left: 100%;
}

.slide.ng-enter-active {
    left: 0;
}

.slide.ng-leave {
    left: 0;
}

.slide.ng-leave-active {
    left: -100%;
}

.fader-animation.ng-enter,
.fader-animation.ng-leave {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s;
    -moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s;
    -o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s;
}

.fader-animation.ng-enter {
    position: absolute;
    width: 100%;
    height: 100%;
    -ms-opacity: 0;
    opacity: 0;
}

.fader-animation.ng-enter.ng-enter-active {
    -ms-opacity: 1;
    opacity: 1;
}

.fader-animation.ng-leave {
    position: absolute;
    width: 100%;
    height: 100%;
    -ms-opacity: 1;
    opacity: 1;
}

.fader-animation.ng-leave.ng-leave-active {
    -ms-opacity: 0;
    opacity: 0;
}

.nga-default {
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out
}

.nga-default.ng-hide-add,
.nga-default.ng-hide-remove {
    display: block!important
}

.nga-slow {
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out
}

.nga-slow.ng-hide-add,
.nga-slow.ng-hide-remove {
    display: block!important
}

.nga-fast {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.nga-fast.ng-hide-add,
.nga-fast.ng-hide-remove {
    display: block!important
}

.nga-collapse-add {
    overflow: hidden
}

.nga-collapse-add.ng-enter:not(.ng-enter-active),
.nga-collapse-add.ng-hide-remove:not(.ng-hide-remove-active) {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0
}

.nga-collapse-remove {
    overflow: hidden
}

.nga-collapse-remove.ng-hide-add.ng-hide-add-active,
.nga-collapse-remove.ng-leave.ng-leave-active {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0
}

.nga-collapse-move {
    overflow: hidden
}

.nga-collapse-move.ng-move {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0
}

.nga-collapse-all {
    overflow: hidden
}

.nga-collapse-all.ng-enter:not(.ng-enter-active),
.nga-collapse-all.ng-hide-add.ng-hide-add-active,
.nga-collapse-all.ng-hide-remove:not(.ng-hide-remove-active),
.nga-collapse-all.ng-leave.ng-leave-active,
.nga-collapse-all.ng-move {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0
}

.nga-collapse {
    overflow: hidden
}

.nga-collapse.ng-enter:not(.ng-enter-active),
.nga-collapse.ng-hide-add.ng-hide-add-active,
.nga-collapse.ng-hide-remove:not(.ng-hide-remove-active),
.nga-collapse.ng-leave.ng-leave-active,
.nga-collapse.ng-move {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0
}

.nga-fade-add.ng-enter,
.nga-fade-add.ng-hide-remove {
    opacity: 0
}

.nga-fade-add.ng-enter.ng-enter-active,
.nga-fade-add.ng-hide-remove.ng-hide-remove-active {
    opacity: 1
}

.nga-fade-remove.ng-hide-add.ng-hide-add-active,
.nga-fade-remove.ng-leave.ng-leave-active {
    opacity: 0
}

.nga-fade-remove.ng-hide-add,
.nga-fade-remove.ng-leave {
    opacity: 1
}

.nga-fade-move.ng-move {
    opacity: 0
}

.nga-fade-move.ng-move.ng-move-active {
    opacity: 1
}

.nga-fade-all.ng-enter,
.nga-fade-all.ng-hide-remove {
    opacity: 0
}

.nga-fade-all.ng-enter.ng-enter-active,
.nga-fade-all.ng-hide-remove.ng-hide-remove-active {
    opacity: 1
}

.nga-fade-all.ng-hide-add.ng-hide-add-active,
.nga-fade-all.ng-leave.ng-leave-active {
    opacity: 0
}

.nga-fade-all.ng-hide-add,
.nga-fade-all.ng-leave {
    opacity: 1
}

.nga-fade-all.ng-move {
    opacity: 0
}

.nga-fade-all.ng-move.ng-move-active {
    opacity: 1
}

.nga-fade.ng-enter,
.nga-fade.ng-hide-remove {
    opacity: 0
}

.nga-fade.ng-enter.ng-enter-active,
.nga-fade.ng-hide-remove.ng-hide-remove-active {
    opacity: 1
}

.nga-fade.ng-hide-add.ng-hide-add-active,
.nga-fade.ng-leave.ng-leave-active {
    opacity: 0
}

.nga-fade.ng-hide-add,
.nga-fade.ng-leave {
    opacity: 1
}

.nga-fade.ng-move {
    opacity: 0
}

.nga-fade.ng-move.ng-move-active {
    opacity: 1
}

.nga-rotate-down-add {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg)
}

.nga-rotate-down-add.ng-enter,
.nga-rotate-down-add.ng-hide-remove {
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    transform: rotateX(-90deg)
}

.nga-rotate-down-add.ng-enter.ng-enter-active,
.nga-rotate-down-add.ng-hide-remove.ng-hide-remove-active,
.nga-rotate-down-remove {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg)
}

.nga-rotate-down-remove.ng-hide-add.ng-hide-add-active,
.nga-rotate-down-remove.ng-leave.ng-leave-active {
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    transform: rotateX(-90deg)
}

.nga-rotate-down-move,
.nga-rotate-down-remove.ng-hide-add,
.nga-rotate-down-remove.ng-leave {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg)
}

.nga-rotate-down-move.ng-move {
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    transform: rotateX(-90deg)
}

.nga-rotate-down-all,
.nga-rotate-down-move.ng-move.ng-move-active {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg)
}

.nga-rotate-down-all.ng-enter,
.nga-rotate-down-all.ng-hide-remove {
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    transform: rotateX(-90deg)
}

.nga-rotate-down-all.ng-enter.ng-enter-active,
.nga-rotate-down-all.ng-hide-remove.ng-hide-remove-active {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg)
}

.nga-rotate-down-all.ng-hide-add.ng-hide-add-active,
.nga-rotate-down-all.ng-leave.ng-leave-active {
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    transform: rotateX(-90deg)
}

.nga-rotate-down-all.ng-hide-add,
.nga-rotate-down-all.ng-leave {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg)
}

.nga-rotate-down-all.ng-move {
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    transform: rotateX(-90deg)
}

.nga-rotate-down,
.nga-rotate-down-all.ng-move.ng-move-active {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg)
}

.nga-rotate-down.ng-enter,
.nga-rotate-down.ng-hide-remove {
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    transform: rotateX(-90deg)
}

.nga-rotate-down.ng-enter.ng-enter-active,
.nga-rotate-down.ng-hide-remove.ng-hide-remove-active {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg)
}

.nga-rotate-down.ng-hide-add.ng-hide-add-active,
.nga-rotate-down.ng-leave.ng-leave-active {
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    transform: rotateX(-90deg)
}

.nga-rotate-down.ng-hide-add,
.nga-rotate-down.ng-leave {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg)
}

.nga-rotate-down.ng-move {
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    transform: rotateX(-90deg)
}

.nga-rotate-down.ng-move.ng-move-active {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg)
}

.nga-rotate-down.ng-enter,
.nga-rotate-down.ng-hide-remove {
    opacity: 0
}

.nga-rotate-down.ng-enter.ng-enter-active,
.nga-rotate-down.ng-hide-remove.ng-hide-remove-active {
    opacity: 1
}

.nga-rotate-down.ng-hide-add.ng-hide-add-active,
.nga-rotate-down.ng-leave.ng-leave-active {
    opacity: 0
}

.nga-rotate-down.ng-hide-add,
.nga-rotate-down.ng-leave {
    opacity: 1
}

.nga-rotate-down.ng-move {
    opacity: 0
}

.nga-rotate-down.ng-move.ng-move-active {
    opacity: 1
}

.nga-rotate-left-add {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg)
}

.nga-rotate-left-add.ng-enter,
.nga-rotate-left-add.ng-hide-remove {
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg)
}

.nga-rotate-left-add.ng-enter.ng-enter-active,
.nga-rotate-left-add.ng-hide-remove.ng-hide-remove-active,
.nga-rotate-left-remove {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg)
}

.nga-rotate-left-remove.ng-hide-add.ng-hide-add-active,
.nga-rotate-left-remove.ng-leave.ng-leave-active {
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg)
}

.nga-rotate-left-move,
.nga-rotate-left-remove.ng-hide-add,
.nga-rotate-left-remove.ng-leave {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg)
}

.nga-rotate-left-move.ng-move {
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg)
}

.nga-rotate-left-all,
.nga-rotate-left-move.ng-move.ng-move-active {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg)
}

.nga-rotate-left-all.ng-enter,
.nga-rotate-left-all.ng-hide-remove {
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg)
}

.nga-rotate-left-all.ng-enter.ng-enter-active,
.nga-rotate-left-all.ng-hide-remove.ng-hide-remove-active {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg)
}

.nga-rotate-left-all.ng-hide-add.ng-hide-add-active,
.nga-rotate-left-all.ng-leave.ng-leave-active {
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg)
}

.nga-rotate-left-all.ng-hide-add,
.nga-rotate-left-all.ng-leave {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg)
}

.nga-rotate-left-all.ng-move {
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg)
}

.nga-rotate-left,
.nga-rotate-left-all.ng-move.ng-move-active {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg)
}

.nga-rotate-left.ng-enter,
.nga-rotate-left.ng-hide-remove {
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg)
}

.nga-rotate-left.ng-enter.ng-enter-active,
.nga-rotate-left.ng-hide-remove.ng-hide-remove-active {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg)
}

.nga-rotate-left.ng-hide-add.ng-hide-add-active,
.nga-rotate-left.ng-leave.ng-leave-active {
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg)
}

.nga-rotate-left.ng-hide-add,
.nga-rotate-left.ng-leave {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg)
}

.nga-rotate-left.ng-move {
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg)
}

.nga-rotate-left.ng-move.ng-move-active {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg)
}

.nga-rotate-left.ng-enter,
.nga-rotate-left.ng-hide-remove {
    opacity: 0
}

.nga-rotate-left.ng-enter.ng-enter-active,
.nga-rotate-left.ng-hide-remove.ng-hide-remove-active {
    opacity: 1
}

.nga-rotate-left.ng-hide-add.ng-hide-add-active,
.nga-rotate-left.ng-leave.ng-leave-active {
    opacity: 0
}

.nga-rotate-left.ng-hide-add,
.nga-rotate-left.ng-leave {
    opacity: 1
}

.nga-rotate-left.ng-move {
    opacity: 0
}

.nga-rotate-left.ng-move.ng-move-active {
    opacity: 1
}

.nga-rotate-right-add {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg)
}

.nga-rotate-right-add.ng-enter,
.nga-rotate-right-add.ng-hide-remove {
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    -o-transform: rotateY(-90deg);
    transform: rotateY(-90deg)
}

.nga-rotate-right-add.ng-enter.ng-enter-active,
.nga-rotate-right-add.ng-hide-remove.ng-hide-remove-active,
.nga-rotate-right-remove {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg)
}

.nga-rotate-right-remove.ng-hide-add.ng-hide-add-active,
.nga-rotate-right-remove.ng-leave.ng-leave-active {
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    -o-transform: rotateY(-90deg);
    transform: rotateY(-90deg)
}

.nga-rotate-right-move,
.nga-rotate-right-remove.ng-hide-add,
.nga-rotate-right-remove.ng-leave {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg)
}

.nga-rotate-right-move.ng-move {
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    -o-transform: rotateY(-90deg);
    transform: rotateY(-90deg)
}

.nga-rotate-right-all,
.nga-rotate-right-move.ng-move.ng-move-active {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg)
}

.nga-rotate-right-all.ng-enter,
.nga-rotate-right-all.ng-hide-remove {
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    -o-transform: rotateY(-90deg);
    transform: rotateY(-90deg)
}

.nga-rotate-right-all.ng-enter.ng-enter-active,
.nga-rotate-right-all.ng-hide-remove.ng-hide-remove-active {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg)
}

.nga-rotate-right-all.ng-hide-add.ng-hide-add-active,
.nga-rotate-right-all.ng-leave.ng-leave-active {
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    -o-transform: rotateY(-90deg);
    transform: rotateY(-90deg)
}

.nga-rotate-right-all.ng-hide-add,
.nga-rotate-right-all.ng-leave {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg)
}

.nga-rotate-right-all.ng-move {
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    -o-transform: rotateY(-90deg);
    transform: rotateY(-90deg)
}

.nga-rotate-right,
.nga-rotate-right-all.ng-move.ng-move-active {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg)
}

.nga-rotate-right.ng-enter,
.nga-rotate-right.ng-hide-remove {
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    -o-transform: rotateY(-90deg);
    transform: rotateY(-90deg)
}

.nga-rotate-right.ng-enter.ng-enter-active,
.nga-rotate-right.ng-hide-remove.ng-hide-remove-active {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg)
}

.nga-rotate-right.ng-hide-add.ng-hide-add-active,
.nga-rotate-right.ng-leave.ng-leave-active {
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    -o-transform: rotateY(-90deg);
    transform: rotateY(-90deg)
}

.nga-rotate-right.ng-hide-add,
.nga-rotate-right.ng-leave {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg)
}

.nga-rotate-right.ng-move {
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    -o-transform: rotateY(-90deg);
    transform: rotateY(-90deg)
}

.nga-rotate-right.ng-move.ng-move-active {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg)
}

.nga-rotate-right.ng-enter,
.nga-rotate-right.ng-hide-remove {
    opacity: 0
}

.nga-rotate-right.ng-enter.ng-enter-active,
.nga-rotate-right.ng-hide-remove.ng-hide-remove-active {
    opacity: 1
}

.nga-rotate-right.ng-hide-add.ng-hide-add-active,
.nga-rotate-right.ng-leave.ng-leave-active {
    opacity: 0
}

.nga-rotate-right.ng-hide-add,
.nga-rotate-right.ng-leave {
    opacity: 1
}

.nga-rotate-right.ng-move {
    opacity: 0
}

.nga-rotate-right.ng-move.ng-move-active {
    opacity: 1
}

.nga-rotate-up-add {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg)
}

.nga-rotate-up-add.ng-enter,
.nga-rotate-up-add.ng-hide-remove {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg)
}

.nga-rotate-up-add.ng-enter.ng-enter-active,
.nga-rotate-up-add.ng-hide-remove.ng-hide-remove-active,
.nga-rotate-up-remove {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg)
}

.nga-rotate-up-remove.ng-hide-add.ng-hide-add-active,
.nga-rotate-up-remove.ng-leave.ng-leave-active {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg)
}

.nga-rotate-up-move,
.nga-rotate-up-remove.ng-hide-add,
.nga-rotate-up-remove.ng-leave {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg)
}

.nga-rotate-up-move.ng-move {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg)
}

.nga-rotate-up-all,
.nga-rotate-up-move.ng-move.ng-move-active {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg)
}

.nga-rotate-up-all.ng-enter,
.nga-rotate-up-all.ng-hide-remove {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg)
}

.nga-rotate-up-all.ng-enter.ng-enter-active,
.nga-rotate-up-all.ng-hide-remove.ng-hide-remove-active {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg)
}

.nga-rotate-up-all.ng-hide-add.ng-hide-add-active,
.nga-rotate-up-all.ng-leave.ng-leave-active {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg)
}

.nga-rotate-up-all.ng-hide-add,
.nga-rotate-up-all.ng-leave {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg)
}

.nga-rotate-up-all.ng-move {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg)
}

.nga-rotate-up,
.nga-rotate-up-all.ng-move.ng-move-active {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg)
}

.nga-rotate-up.ng-enter,
.nga-rotate-up.ng-hide-remove {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg)
}

.nga-rotate-up.ng-enter.ng-enter-active,
.nga-rotate-up.ng-hide-remove.ng-hide-remove-active {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg)
}

.nga-rotate-up.ng-hide-add.ng-hide-add-active,
.nga-rotate-up.ng-leave.ng-leave-active {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg)
}

.nga-rotate-up.ng-hide-add,
.nga-rotate-up.ng-leave {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg)
}

.nga-rotate-up.ng-move {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg)
}

.nga-rotate-up.ng-move.ng-move-active {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg)
}

.nga-rotate-up.ng-enter,
.nga-rotate-up.ng-hide-remove {
    opacity: 0
}

.nga-rotate-up.ng-enter.ng-enter-active,
.nga-rotate-up.ng-hide-remove.ng-hide-remove-active {
    opacity: 1
}

.nga-rotate-up.ng-hide-add.ng-hide-add-active,
.nga-rotate-up.ng-leave.ng-leave-active {
    opacity: 0
}

.nga-rotate-up.ng-hide-add,
.nga-rotate-up.ng-leave {
    opacity: 1
}

.nga-rotate-up.ng-move {
    opacity: 0
}

.nga-rotate-up.ng-move.ng-move-active {
    opacity: 1
}

.nga-slide-down-add {
    position: relative;
    overflow: hidden
}

.nga-slide-down-add.ng-enter,
.nga-slide-down-add.ng-hide-remove {
    top: 50px
}

.nga-slide-down-add.ng-enter.ng-enter-active,
.nga-slide-down-add.ng-hide-remove.ng-hide-remove-active {
    top: 0
}

.nga-slide-down-remove {
    position: relative;
    overflow: hidden
}

.nga-slide-down-remove.ng-hide-add.ng-hide-add-active,
.nga-slide-down-remove.ng-leave.ng-leave-active {
    top: 50px
}

.nga-slide-down-remove.ng-hide-add,
.nga-slide-down-remove.ng-leave {
    top: 0
}

.nga-slide-down-move {
    position: relative;
    overflow: hidden
}

.nga-slide-down-move.ng-move {
    top: 50px
}

.nga-slide-down-move.ng-move.ng-move-active {
    top: 0
}

.nga-slide-down-all {
    position: relative;
    overflow: hidden
}

.nga-slide-down-all.ng-enter,
.nga-slide-down-all.ng-hide-remove {
    top: 50px
}

.nga-slide-down-all.ng-enter.ng-enter-active,
.nga-slide-down-all.ng-hide-remove.ng-hide-remove-active {
    top: 0
}

.nga-slide-down-all.ng-hide-add.ng-hide-add-active,
.nga-slide-down-all.ng-leave.ng-leave-active {
    top: 50px
}

.nga-slide-down-all.ng-hide-add,
.nga-slide-down-all.ng-leave {
    top: 0
}

.nga-slide-down-all.ng-move {
    top: 50px
}

.nga-slide-down-all.ng-move.ng-move-active {
    top: 0
}

.nga-slide-down {
    position: relative;
    overflow: hidden;
    overflow: hidden
}

.nga-slide-down.ng-enter,
.nga-slide-down.ng-hide-remove {
    top: 50px
}

.nga-slide-down.ng-enter.ng-enter-active,
.nga-slide-down.ng-hide-remove.ng-hide-remove-active {
    top: 0
}

.nga-slide-down.ng-hide-add.ng-hide-add-active,
.nga-slide-down.ng-leave.ng-leave-active {
    top: 50px
}

.nga-slide-down.ng-hide-add,
.nga-slide-down.ng-leave {
    top: 0
}

.nga-slide-down.ng-move {
    top: 50px
}

.nga-slide-down.ng-move.ng-move-active {
    top: 0
}

.nga-slide-down.ng-enter,
.nga-slide-down.ng-hide-remove {
    opacity: 0
}

.nga-slide-down.ng-enter.ng-enter-active,
.nga-slide-down.ng-hide-remove.ng-hide-remove-active {
    opacity: 1
}

.nga-slide-down.ng-hide-add.ng-hide-add-active,
.nga-slide-down.ng-leave.ng-leave-active {
    opacity: 0
}

.nga-slide-down.ng-hide-add,
.nga-slide-down.ng-leave {
    opacity: 1
}

.nga-slide-down.ng-move {
    opacity: 0
}

.nga-slide-down.ng-move.ng-move-active {
    opacity: 1
}

.nga-slide-down.ng-enter:not(.ng-enter-active),
.nga-slide-down.ng-hide-add.ng-hide-add-active,
.nga-slide-down.ng-hide-remove:not(.ng-hide-remove-active),
.nga-slide-down.ng-leave.ng-leave-active,
.nga-slide-down.ng-move {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0
}

.nga-slide-left-add {
    position: relative;
    overflow: hidden
}

.nga-slide-left-add.ng-enter,
.nga-slide-left-add.ng-hide-remove {
    right: 100%
}

.nga-slide-left-add.ng-enter.ng-enter-active,
.nga-slide-left-add.ng-hide-remove.ng-hide-remove-active {
    right: 0
}

.nga-slide-left-remove {
    position: relative;
    overflow: hidden
}

.nga-slide-left-remove.ng-hide-add.ng-hide-add-active,
.nga-slide-left-remove.ng-leave.ng-leave-active {
    right: 100%
}

.nga-slide-left-remove.ng-hide-add,
.nga-slide-left-remove.ng-leave {
    right: 0
}

.nga-slide-left-move {
    position: relative;
    overflow: hidden
}

.nga-slide-left-move.ng-move {
    right: 100%
}

.nga-slide-left-move.ng-move.ng-move-active {
    right: 0
}

.nga-slide-left-all {
    position: relative;
    overflow: hidden
}

.nga-slide-left-all.ng-enter,
.nga-slide-left-all.ng-hide-remove {
    right: 100%
}

.nga-slide-left-all.ng-enter.ng-enter-active,
.nga-slide-left-all.ng-hide-remove.ng-hide-remove-active {
    right: 0
}

.nga-slide-left-all.ng-hide-add.ng-hide-add-active,
.nga-slide-left-all.ng-leave.ng-leave-active {
    right: 100%
}

.nga-slide-left-all.ng-hide-add,
.nga-slide-left-all.ng-leave {
    right: 0
}

.nga-slide-left-all.ng-move {
    right: 100%
}

.nga-slide-left-all.ng-move.ng-move-active {
    right: 0
}

.nga-slide-left {
    position: relative;
    overflow: hidden;
    overflow: hidden
}

.nga-slide-left.ng-enter,
.nga-slide-left.ng-hide-remove {
    right: 100%
}

.nga-slide-left.ng-enter.ng-enter-active,
.nga-slide-left.ng-hide-remove.ng-hide-remove-active {
    right: 0
}

.nga-slide-left.ng-hide-add.ng-hide-add-active,
.nga-slide-left.ng-leave.ng-leave-active {
    right: 100%
}

.nga-slide-left.ng-hide-add,
.nga-slide-left.ng-leave {
    right: 0
}

.nga-slide-left.ng-move {
    right: 100%
}

.nga-slide-left.ng-move.ng-move-active {
    right: 0
}

.nga-slide-left.ng-enter,
.nga-slide-left.ng-hide-remove {
    opacity: 0
}

.nga-slide-left.ng-enter.ng-enter-active,
.nga-slide-left.ng-hide-remove.ng-hide-remove-active {
    opacity: 1
}

.nga-slide-left.ng-hide-add.ng-hide-add-active,
.nga-slide-left.ng-leave.ng-leave-active {
    opacity: 0
}

.nga-slide-left.ng-hide-add,
.nga-slide-left.ng-leave {
    opacity: 1
}

.nga-slide-left.ng-move {
    opacity: 0
}

.nga-slide-left.ng-move.ng-move-active {
    opacity: 1
}

.nga-slide-left.ng-enter:not(.ng-enter-active),
.nga-slide-left.ng-hide-add.ng-hide-add-active,
.nga-slide-left.ng-hide-remove:not(.ng-hide-remove-active),
.nga-slide-left.ng-leave.ng-leave-active,
.nga-slide-left.ng-move {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0
}

.nga-slide-right-add {
    position: relative;
    overflow: hidden
}

.nga-slide-right-add.ng-enter,
.nga-slide-right-add.ng-hide-remove {
    left: 100%
}

.nga-slide-right-add.ng-enter.ng-enter-active,
.nga-slide-right-add.ng-hide-remove.ng-hide-remove-active {
    left: 0
}

.nga-slide-right-remove {
    position: relative;
    overflow: hidden
}

.nga-slide-right-remove.ng-hide-add.ng-hide-add-active,
.nga-slide-right-remove.ng-leave.ng-leave-active {
    left: 100%
}

.nga-slide-right-remove.ng-hide-add,
.nga-slide-right-remove.ng-leave {
    left: 0
}

.nga-slide-right-move {
    position: relative;
    overflow: hidden
}

.nga-slide-right-move.ng-move {
    left: 100%
}

.nga-slide-right-move.ng-move.ng-move-active {
    left: 0
}

.nga-slide-right-all {
    position: relative;
    overflow: hidden
}

.nga-slide-right-all.ng-enter,
.nga-slide-right-all.ng-hide-remove {
    left: 100%
}

.nga-slide-right-all.ng-enter.ng-enter-active,
.nga-slide-right-all.ng-hide-remove.ng-hide-remove-active {
    left: 0
}

.nga-slide-right-all.ng-hide-add.ng-hide-add-active,
.nga-slide-right-all.ng-leave.ng-leave-active {
    left: 100%
}

.nga-slide-right-all.ng-hide-add,
.nga-slide-right-all.ng-leave {
    left: 0
}

.nga-slide-right-all.ng-move {
    left: 100%
}

.nga-slide-right-all.ng-move.ng-move-active {
    left: 0
}

.nga-slide-right {
    position: relative;
    overflow: hidden;
    overflow: hidden
}

.nga-slide-right.ng-enter,
.nga-slide-right.ng-hide-remove {
    left: 100%
}

.nga-slide-right.ng-enter.ng-enter-active,
.nga-slide-right.ng-hide-remove.ng-hide-remove-active {
    left: 0
}

.nga-slide-right.ng-hide-add.ng-hide-add-active,
.nga-slide-right.ng-leave.ng-leave-active {
    left: 100%
}

.nga-slide-right.ng-hide-add,
.nga-slide-right.ng-leave {
    left: 0
}

.nga-slide-right.ng-move {
    left: 100%
}

.nga-slide-right.ng-move.ng-move-active {
    left: 0
}

.nga-slide-right.ng-enter,
.nga-slide-right.ng-hide-remove {
    opacity: 0
}

.nga-slide-right.ng-enter.ng-enter-active,
.nga-slide-right.ng-hide-remove.ng-hide-remove-active {
    opacity: 1
}

.nga-slide-right.ng-hide-add.ng-hide-add-active,
.nga-slide-right.ng-leave.ng-leave-active {
    opacity: 0
}

.nga-slide-right.ng-hide-add,
.nga-slide-right.ng-leave {
    opacity: 1
}

.nga-slide-right.ng-move {
    opacity: 0
}

.nga-slide-right.ng-move.ng-move-active {
    opacity: 1
}

.nga-slide-right.ng-enter:not(.ng-enter-active),
.nga-slide-right.ng-hide-add.ng-hide-add-active,
.nga-slide-right.ng-hide-remove:not(.ng-hide-remove-active),
.nga-slide-right.ng-leave.ng-leave-active,
.nga-slide-right.ng-move {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0
}

.nga-slide-up-add {
    position: relative;
    overflow: hidden
}

.nga-slide-up-add.ng-enter,
.nga-slide-up-add.ng-hide-remove {
    bottom: 50px
}

.nga-slide-up-add.ng-enter.ng-enter-active,
.nga-slide-up-add.ng-hide-remove.ng-hide-remove-active {
    bottom: 0
}

.nga-slide-up-remove {
    position: relative;
    overflow: hidden
}

.nga-slide-up-remove.ng-hide-add.ng-hide-add-active,
.nga-slide-up-remove.ng-leave.ng-leave-active {
    bottom: 50px
}

.nga-slide-up-remove.ng-hide-add,
.nga-slide-up-remove.ng-leave {
    bottom: 0
}

.nga-slide-up-move {
    position: relative;
    overflow: hidden
}

.nga-slide-up-move.ng-move {
    bottom: 50px
}

.nga-slide-up-move.ng-move.ng-move-active {
    bottom: 0
}

.nga-slide-up-all {
    position: relative;
    overflow: hidden
}

.nga-slide-up-all.ng-enter,
.nga-slide-up-all.ng-hide-remove {
    bottom: 50px
}

.nga-slide-up-all.ng-enter.ng-enter-active,
.nga-slide-up-all.ng-hide-remove.ng-hide-remove-active {
    bottom: 0
}

.nga-slide-up-all.ng-hide-add.ng-hide-add-active,
.nga-slide-up-all.ng-leave.ng-leave-active {
    bottom: 50px
}

.nga-slide-up-all.ng-hide-add,
.nga-slide-up-all.ng-leave {
    bottom: 0
}

.nga-slide-up-all.ng-move {
    bottom: 50px
}

.nga-slide-up-all.ng-move.ng-move-active {
    bottom: 0
}

.nga-slide-up {
    position: relative;
    overflow: hidden;
    overflow: hidden
}

.nga-slide-up.ng-enter,
.nga-slide-up.ng-hide-remove {
    bottom: 50px
}

.nga-slide-up.ng-enter.ng-enter-active,
.nga-slide-up.ng-hide-remove.ng-hide-remove-active {
    bottom: 0
}

.nga-slide-up.ng-hide-add.ng-hide-add-active,
.nga-slide-up.ng-leave.ng-leave-active {
    bottom: 50px
}

.nga-slide-up.ng-hide-add,
.nga-slide-up.ng-leave {
    bottom: 0
}

.nga-slide-up.ng-move {
    bottom: 50px
}

.nga-slide-up.ng-move.ng-move-active {
    bottom: 0
}

.nga-slide-up.ng-enter,
.nga-slide-up.ng-hide-remove {
    opacity: 0
}

.nga-slide-up.ng-enter.ng-enter-active,
.nga-slide-up.ng-hide-remove.ng-hide-remove-active {
    opacity: 1
}

.nga-slide-up.ng-hide-add.ng-hide-add-active,
.nga-slide-up.ng-leave.ng-leave-active {
    opacity: 0
}

.nga-slide-up.ng-hide-add,
.nga-slide-up.ng-leave {
    opacity: 1
}

.nga-slide-up.ng-move {
    opacity: 0
}

.nga-slide-up.ng-move.ng-move-active {
    opacity: 1
}

.nga-slide-up.ng-enter:not(.ng-enter-active),
.nga-slide-up.ng-hide-add.ng-hide-add-active,
.nga-slide-up.ng-hide-remove:not(.ng-hide-remove-active),
.nga-slide-up.ng-leave.ng-leave-active,
.nga-slide-up.ng-move {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0
}

.nga-squash-left-add {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    left: 0
}

.nga-squash-left-add.ng-enter,
.nga-squash-left-add.ng-hide-remove {
    width: 0;
    right: 100%
}

.nga-squash-left-add.ng-enter:not(.ng-enter-active),
.nga-squash-left-add.ng-hide-remove:not(.ng-hide-remove-active) {
    padding-left: 0;
    padding-right: 0
}

.nga-squash-left-add.ng-enter.ng-enter-active,
.nga-squash-left-add.ng-hide-remove.ng-hide-remove-active {
    width: 100%;
    right: 0
}

.nga-squash-left-remove {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    left: 0
}

.nga-squash-left-remove.ng-hide-add,
.nga-squash-left-remove.ng-leave {
    width: 100%;
    right: 0
}

.nga-squash-left-remove.ng-hide-add.ng-hide-add-active,
.nga-squash-left-remove.ng-leave.ng-leave-active {
    width: 0;
    right: 100%;
    padding-left: 0;
    padding-right: 0
}

.nga-squash-left-move {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    left: 0
}

.nga-squash-left-move.ng-move {
    width: 0;
    right: 100%
}

.nga-squash-left-move.ng-move.ng-move-active {
    width: 100%;
    right: 0
}

.nga-squash-left-all {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    left: 0
}

.nga-squash-left-all.ng-enter,
.nga-squash-left-all.ng-hide-remove {
    width: 0;
    right: 100%
}

.nga-squash-left-all.ng-enter:not(.ng-enter-active),
.nga-squash-left-all.ng-hide-remove:not(.ng-hide-remove-active) {
    padding-left: 0;
    padding-right: 0
}

.nga-squash-left-all.ng-enter.ng-enter-active,
.nga-squash-left-all.ng-hide-add,
.nga-squash-left-all.ng-hide-remove.ng-hide-remove-active,
.nga-squash-left-all.ng-leave {
    width: 100%;
    right: 0
}

.nga-squash-left-all.ng-hide-add.ng-hide-add-active,
.nga-squash-left-all.ng-leave.ng-leave-active {
    width: 0;
    right: 100%;
    padding-left: 0;
    padding-right: 0
}

.nga-squash-left-all.ng-move {
    width: 0;
    right: 100%
}

.nga-squash-left-all.ng-move.ng-move-active {
    width: 100%;
    right: 0
}

.nga-squash-left {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    left: 0
}

.nga-squash-left.ng-enter,
.nga-squash-left.ng-hide-remove {
    width: 0;
    right: 100%
}

.nga-squash-left.ng-enter:not(.ng-enter-active),
.nga-squash-left.ng-hide-remove:not(.ng-hide-remove-active) {
    padding-left: 0;
    padding-right: 0
}

.nga-squash-left.ng-enter.ng-enter-active,
.nga-squash-left.ng-hide-add,
.nga-squash-left.ng-hide-remove.ng-hide-remove-active,
.nga-squash-left.ng-leave {
    width: 100%;
    right: 0
}

.nga-squash-left.ng-hide-add.ng-hide-add-active,
.nga-squash-left.ng-leave.ng-leave-active {
    width: 0;
    right: 100%;
    padding-left: 0;
    padding-right: 0
}

.nga-squash-left.ng-move {
    width: 0;
    right: 100%
}

.nga-squash-left.ng-move.ng-move-active {
    width: 100%;
    right: 0
}

.nga-squash-right-add {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    right: 0
}

.nga-squash-right-add.ng-enter,
.nga-squash-right-add.ng-hide-remove {
    width: 0;
    left: 100%
}

.nga-squash-right-add.ng-enter:not(.ng-enter-active),
.nga-squash-right-add.ng-hide-remove:not(.ng-hide-remove-active) {
    padding-left: 0;
    padding-right: 0
}

.nga-squash-right-add.ng-enter.ng-enter-active,
.nga-squash-right-add.ng-hide-remove.ng-hide-remove-active {
    width: 100%;
    left: 0
}

.nga-squash-right-remove {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    right: 0
}

.nga-squash-right-remove.ng-hide-add,
.nga-squash-right-remove.ng-leave {
    width: 100%;
    left: 0
}

.nga-squash-right-remove.ng-hide-add.ng-hide-add-active,
.nga-squash-right-remove.ng-leave.ng-leave-active {
    width: 0;
    left: 100%;
    padding-left: 0;
    padding-right: 0
}

.nga-squash-right-move {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    right: 0
}

.nga-squash-right-move.ng-move {
    width: 0;
    left: 100%
}

.nga-squash-right-move.ng-move.ng-move-active {
    width: 100%;
    left: 0
}

.nga-squash-right-all {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    right: 0
}

.nga-squash-right-all.ng-enter,
.nga-squash-right-all.ng-hide-remove {
    width: 0;
    left: 100%
}

.nga-squash-right-all.ng-enter:not(.ng-enter-active),
.nga-squash-right-all.ng-hide-remove:not(.ng-hide-remove-active) {
    padding-left: 0;
    padding-right: 0
}

.nga-squash-right-all.ng-enter.ng-enter-active,
.nga-squash-right-all.ng-hide-add,
.nga-squash-right-all.ng-hide-remove.ng-hide-remove-active,
.nga-squash-right-all.ng-leave {
    width: 100%;
    left: 0
}

.nga-squash-right-all.ng-hide-add.ng-hide-add-active,
.nga-squash-right-all.ng-leave.ng-leave-active {
    width: 0;
    left: 100%;
    padding-left: 0;
    padding-right: 0
}

.nga-squash-right-all.ng-move {
    width: 0;
    left: 100%
}

.nga-squash-right-all.ng-move.ng-move-active {
    width: 100%;
    left: 0
}

.nga-squash-right {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    right: 0
}

.nga-squash-right.ng-enter,
.nga-squash-right.ng-hide-remove {
    width: 0;
    left: 100%
}

.nga-squash-right.ng-enter:not(.ng-enter-active),
.nga-squash-right.ng-hide-remove:not(.ng-hide-remove-active) {
    padding-left: 0;
    padding-right: 0
}

.nga-squash-right.ng-enter.ng-enter-active,
.nga-squash-right.ng-hide-add,
.nga-squash-right.ng-hide-remove.ng-hide-remove-active,
.nga-squash-right.ng-leave {
    width: 100%;
    left: 0
}

.nga-squash-right.ng-hide-add.ng-hide-add-active,
.nga-squash-right.ng-leave.ng-leave-active {
    width: 0;
    left: 100%;
    padding-left: 0;
    padding-right: 0
}

.nga-squash-right.ng-move {
    width: 0;
    left: 100%
}

.nga-squash-right.ng-move.ng-move-active {
    width: 100%;
    left: 0
}

.nga-squash-vertical-add {
    position: relative;
    overflow: hidden;
    bottom: 0
}

.nga-squash-vertical-add.ng-enter,
.nga-squash-vertical-add.ng-hide-remove {
    top: 100%
}

.nga-squash-vertical-add.ng-enter:not(.ng-enter-active),
.nga-squash-vertical-add.ng-hide-remove:not(.ng-hide-remove-active) {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0
}

.nga-squash-vertical-add.ng-enter.ng-enter-active,
.nga-squash-vertical-add.ng-hide-remove.ng-hide-remove-active {
    top: 0
}

.nga-squash-vertical-remove {
    position: relative;
    overflow: hidden;
    bottom: 0
}

.nga-squash-vertical-remove.ng-hide-add,
.nga-squash-vertical-remove.ng-leave {
    top: 0
}

.nga-squash-vertical-remove.ng-hide-add.ng-hide-add-active,
.nga-squash-vertical-remove.ng-leave.ng-leave-active {
    top: 100%;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0
}

.nga-squash-vertical-move {
    position: relative;
    overflow: hidden;
    bottom: 0
}

.nga-squash-vertical-move.ng-move {
    top: 100%
}

.nga-squash-vertical-move.ng-move.ng-move-active {
    top: 0
}

.nga-squash-vertical-all {
    position: relative;
    overflow: hidden;
    bottom: 0
}

.nga-squash-vertical-all.ng-enter,
.nga-squash-vertical-all.ng-hide-remove {
    top: 100%
}

.nga-squash-vertical-all.ng-enter:not(.ng-enter-active),
.nga-squash-vertical-all.ng-hide-remove:not(.ng-hide-remove-active) {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0
}

.nga-squash-vertical-all.ng-enter.ng-enter-active,
.nga-squash-vertical-all.ng-hide-add,
.nga-squash-vertical-all.ng-hide-remove.ng-hide-remove-active,
.nga-squash-vertical-all.ng-leave {
    top: 0
}

.nga-squash-vertical-all.ng-hide-add.ng-hide-add-active,
.nga-squash-vertical-all.ng-leave.ng-leave-active {
    top: 100%;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0
}

.nga-squash-vertical-all.ng-move {
    top: 100%
}

.nga-squash-vertical-all.ng-move.ng-move-active {
    top: 0
}

.nga-squash-vertical {
    position: relative;
    overflow: hidden;
    bottom: 0
}

.nga-squash-vertical.ng-enter,
.nga-squash-vertical.ng-hide-remove {
    top: 100%
}

.nga-squash-vertical.ng-enter:not(.ng-enter-active),
.nga-squash-vertical.ng-hide-remove:not(.ng-hide-remove-active) {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0
}

.nga-squash-vertical.ng-enter.ng-enter-active,
.nga-squash-vertical.ng-hide-add,
.nga-squash-vertical.ng-hide-remove.ng-hide-remove-active,
.nga-squash-vertical.ng-leave {
    top: 0
}

.nga-squash-vertical.ng-hide-add.ng-hide-add-active,
.nga-squash-vertical.ng-leave.ng-leave-active {
    top: 100%;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0
}

.nga-squash-vertical.ng-move {
    top: 100%
}

.nga-squash-vertical.ng-move.ng-move-active {
    top: 0
}

.nga-squash-vertical.ng-enter,
.nga-squash-vertical.ng-hide-remove {
    opacity: 0
}

.nga-squash-vertical.ng-enter.ng-enter-active,
.nga-squash-vertical.ng-hide-remove.ng-hide-remove-active {
    opacity: 1
}

.nga-squash-vertical.ng-hide-add.ng-hide-add-active,
.nga-squash-vertical.ng-leave.ng-leave-active {
    opacity: 0
}

.nga-squash-vertical.ng-hide-add,
.nga-squash-vertical.ng-leave {
    opacity: 1
}

.nga-squash-vertical.ng-move {
    opacity: 0
}

.nga-squash-vertical.ng-move.ng-move-active {
    opacity: 1
}

.nga-stagger-add.ng-enter-stagger,
.nga-stagger-leave.ng-leave-stagger,
.nga-stagger-move.ng-move-stagger,
.nga-stagger.ng-enter-stagger,
.nga-stagger.ng-leave-stagger,
.nga-stagger.ng-move-stagger {
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
    -webkit-transition-duration: 0;
    -moz-transition-duration: 0;
    -o-transition-duration: 0;
    transition-duration: 0
}

.nga-stagger-fast.ng-enter-stagger,
.nga-stagger-fast.ng-leave-stagger,
.nga-stagger-fast.ng-move-stagger {
    -webkit-transition-delay: 20ms;
    -moz-transition-delay: 20ms;
    -o-transition-delay: 20ms;
    transition-delay: 20ms;
    -webkit-transition-duration: 0;
    -moz-transition-duration: 0;
    -o-transition-duration: 0;
    transition-duration: 0
}

.nga-stagger-slow.ng-enter-stagger,
.nga-stagger-slow.ng-leave-stagger,
.nga-stagger-slow.ng-move-stagger {
    -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    -o-transition-delay: 200ms;
    transition-delay: 200ms;
    -webkit-transition-duration: 0;
    -moz-transition-duration: 0;
    -o-transition-duration: 0;
    transition-duration: 0
}