body{
    font-size: 14px
}

.blur {
    filter: blur(0.8px);
    -webkit-filter: blur(0.8px);
}

#toast-container>div {
    width: 300px;
    -webkit-box-shadow: 0 0 12px #212121;
    box-shadow: 0 0 12px #212121;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}
