</br>
<div class="col-md-12">
    <div class="progress"
         style="margin:0"
         ng-show="vm.carregando"
         class='fader-animation'>
        <div class="progress-bar progress-bar-striped active"
             role="progressbar"
             style="width: 100%">
        </div>
    </div>
    <div class="panel panel-default"
         ng-style="{'margin-top': vm.carregando ? 0: '6px'}">
        <div class="panel-heading">
            <h3 class="panel-title text-center">Custo x Receita por clientes</h3>
        </div>
        <div class="panel-body">
            <form action="">
                <div class="input-group input-group-sm col-md-6">
                    <span class="input-group-addon">
                    De
                    </span>
                    <input readonly="readonly"
                           type="text"
                           class="form-control"
                           uib-datepicker-popup="dd MMMM yyyy"
                           ng-model="vm.dataI"
                           is-open="vm.datepickerAberto"
                           close-on-date-selection="false"
                           ng-click="vm.datepickerAberto=true"
                           ng-required="true"
                           show-button-bar="false"
                           alt-input-formats="['d!/M!/yyyy','d!/M!/yy']"
                           datepicker-options="vm.dataIOptions" />
                    <span class="input-group-addon">
                    até
                    </span>
                    <input readonly="readonly"
                           type="text"
                           class="form-control"
                           uib-datepicker-popup="dd MMMM yyyy"
                           ng-model="vm.dataF"
                           is-open="vm.datepickerAberto"
                           ng-click="vm.datepickerAberto=true"
                           datepicker-options="vm.dataFOptions"
                           ng-required="true"
                           show-button-bar="false"
                           alt-input-formats="['d!/M!/yyyy','d!/M!/yy']" />
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.datepickerAberto=!vm.datepickerAberto"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </form>
            <table st-table="displayedCollection"
                   st-safe-src="vm.faturamentos"
                   class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th st-sort="nome">Cliente</th>
                        <th st-sort="demandas.valor">Horas desenvolvimento </th>
                        <th st-sort="demandas.horas">Custo</th>
                        <th st-sort="faturamento_total"
                            st-sort-default="reverse">Faturamento</th>
                        <th st-sort="indice_faturamento">Índice de custo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in displayedCollection">
                        <td>{{row.nome}}</td>
                        <td>{{row.demandas.horas | number:2}}</td>
                        <td>{{row.demandas.valor | currency}}</td>
                        <td>{{row.faturamento_total | currency}}</td>
                        <td>{{row.indice_faturamento | number}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5"
                            class="text-center">
                            <div st-pagination=""
                                 st-items-by-page="19"
                                 st-displayed-pages="7"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>