<br>

<div gridster="vm.gridsterOpts">
    <ul>
        <li gridster-item
            col="widget.position[0]"
            row="widget.position[1]"
            size-x="widget.size[0]"
            size-y="widget.size[1]"
            ng-repeat="widget in vm.widgets"
            class='nga-default nga-stagger nga-slide-left'>
            <widget-directive widget='widget'></widget-directive>
        </li>
    </ul>
</div>