<br/>
<div class='row'>
    <div class='col-md-3 col-md-offset-3'>
        <button type="button"
                class="btn btn-default btn-lg"
                ng-click="vm.goTo('/status-bd')">
            <span class="fa fa-database" aria-hidden="true"></span> Monitoriamento BD
        </button>
    </div>
    <div class='col-md-3 col-md-offset-1'>
        <button type="button"
                class="btn btn-default btn-lg"
                ng-click="vm.goTo('/lancamento-horas')">
            <span class="fa fa-clock-o" aria-hidden="true"></span> Controle de horas
        </button>
    </div>
</div>
<br/>
<div class='row'>
    <div class='col-md-3 col-md-offset-3'>
        <button type="button"
                class="btn btn-default btn-lg"
                ng-click="vm.goTo('/indice-horas-projetos')">
            <span class="fa fa-tasks" aria-hidden="true"></span> Horas estimadas x realizadas
        </button>
    </div>
    <div class='col-md-3  col-md-offset-1'>
        <button type="button"
                class="btn btn-default btn-lg"
                ng-click="vm.goTo('/indicadores-sms')">
            <span class="fa fa-mobile-phone" aria-hidden="true"></span> Indicadores SMS
        </button>
    </div>
</div>

<br/>
<div class='row'>
    <div class='col-md-3  col-md-offset-3'>
        <button type="button"
                class="btn btn-default btn-lg"
                ng-click="vm.goTo('/indicadores-email')">
            <span class="fa fa-envelope-o" aria-hidden="true"></span> Indicadores Email
        </button>
    </div>
</div>