<br/>
<div class="col-md-12">
    <div class="col-md-10">
        <div class="panel panel-default"
             style="height: 44vh">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Fila de envio</h3>
            </div>
            <div class="panel-body"
                 style="height: 90% ">
                <div id="graf-fila-envio"
                     style="min-width: 310px;  height: 100%; margin: 0 auto"></div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default"
                     style="height: 21vh">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Vazão campanha</h3>
                    </div>
                    <div class="panel-body row">
                        <br/>
                        <h2 style="margin: 15px 0 0 0"
                            class='text-center'>{{vm.vazaoCampanha | numberToPower}}</h2>
                        <span class='text-center'
                              style="display: block">Emails/hora</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default"
                     style="height: 21vh">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Vazão avulso</h3>
                    </div>
                    <div class="panel-body row">
                        <br/>
                        <h2 style="margin: 15px 0 0 0"
                            class='text-center'>{{vm.vazaoAvulso | numberToPower}}</h2>
                        <span class='text-center'
                              style="display: block">Emails/hora</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-6">
        <div class="panel panel-default"
             style="height: 135px;">
            <div class="panel-heading">
                <h3 class="panel-title text-center">SLA de entrega de campanha</h3>
            </div>
            <div class="panel-body row "
                 style="padding-top: 0; padding-bottom: 0 ">
                <div class='col-md-4'
                     id="graf-entregue-dia-campanha"
                     style="min-width: 180px; height:100px; margin: 0 auto; padding: 0;"></div>
                <div class='col-md-4'
                     id="graf-entregue-semana-campanha"
                     style="min-width: 180px; height: 100px; margin: 0 auto;padding: 0; "></div>
                <div class='col-md-4'
                     id="graf-entregue-mes-campanha"
                     style="min-width: 180px; height: 100px; margin: 0 auto;padding: 0;"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default"
             style="height: 135px;">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Atraso de envio de campanhas</h3>
            </div>
            <div class="panel-body"
                 style='padding:0'>
                <div class='col-md-3'>
                    <h3 class='text-center'
                        style="margin: 15px 0 0 0">{{vm.emailsAtrasadosCampanha }}</h3>
                    <span class='text-center'
                          style="display: block">Emails</span>
                </div>
                <div class='col-md-3'>
                    <h3 class='text-center'
                        style="margin: 15px 0 0 0">{{vm.campahasAtrasadas }}</h3>
                    <span class='text-center'
                          style="display: block">Campanhas</span>
                </div>
                <div class='col-md-3'>
                    <h3 class='text-center'
                        style="margin: 15px 0 0 0">{{vm.atrasoMedioCampanha | secondsToTime:true}}</h3>
                    <span class='text-center'
                          style="display: block">Médio</span>
                </div>
                <div class='col-md-3'>
                    <h3 class='text-center'
                        style="margin: 15px 0 0 0">{{vm.atrasoMaximoCampanha | secondsToTime:true}}</h3>
                    <span class='text-center'
                          style="display: block">Máximo</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-6">
        <div class="panel panel-default"
             style="height: 135px;">
            <div class="panel-heading">
                <h3 class="panel-title text-center">SLA de entrega avulso</h3>
            </div>
            <div class="panel-body row "
                 style="padding-top: 0; padding-bottom: 0 ">
                <div class='col-md-4'
                     id="graf-entregue-dia-avulso"
                     style="min-width: 180px; height:100px; margin: 0 auto; padding: 0;"></div>
                <div class='col-md-4'
                     id="graf-entregue-semana-avulso"
                     style="min-width: 180px; height: 100px; margin: 0 auto;padding: 0; "></div>
                <div class='col-md-4'
                     id="graf-entregue-mes-avulso"
                     style="min-width: 180px; height: 100px; margin: 0 auto;padding: 0;"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default"
             style="height: 135px;">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Atraso de envio avulso</h3>
            </div>
            <div class="panel-body"
                 style='padding:0'>
                <div class='col-md-4'>
                    <h3 class='text-center'
                        style="margin: 15px 0 0 0">{{vm.emailsAtrasadosAvulso }}</h3>
                    <span class='text-center'
                          style="display: block">Emails</span>
                </div>
                <div class='col-md-4'>
                    <h3 class='text-center'
                        style="margin: 15px 0 0 0">{{vm.atrasoMedioAvulso | secondsToTime:true}}</h3>
                    <span class='text-center'
                          style="display: block">Médio</span>
                </div>
                <div class='col-md-4'>
                    <h3 class='text-center'
                        style="margin: 15px 0 0 0">{{vm.atrasoMaximoAvulso | secondsToTime:true}}</h3>
                    <span class='text-center'
                          style="display: block">Máximo</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Camp: Enviado/Estimado mês </h3>
            </div>
            <div class="panel-body"
                 style='padding:0 ; height: 160px;'>
                <div class='row'>
                    <div class="col-md-6">
                        <h4 style="margin-bottom: 0"
                            class='text-center'>
                            {{vm.qtdeCampanhaEnviadosMes | numberToPower}} </h4>
                        <span class='text-center'
                              style="display: block; white-space: nowrap">
                                Enviados ({{vm.qtdeCampanhaEnviadosMes > 0 ? (vm.qtdeCampanhaEnviadosMes / vm.qtdePrevistoCampanhaMes * 100) : 0 | number:2}}%)</span>
                        <h6 class='text-center'
                            ng-style="{'color' : vm.diffCampanhaEnviadoMesAnterior < 0 ? 'red' : 'green'} "
                            style="margin-top: 2px">
                            {{ vm.diffCampanhaEnviadoMesAnterior > 0 ? '+' : ''}} {{vm.diffCampanhaEnviadoMesAnterior | number:2}}%
                        </h6>
                    </div>
                    <div class="col-md-6">
                        <h4 style="margin-bottom: 0"
                            class='text-center'>
                            {{vm.qtdePrevistoCampanhaMes | numberToPower}}
                        </h4>
                        <span class='text-center'
                              style="display: block">Estimado </span>
                        <h6 class='text-center'
                            ng-style="{'color' : vm.diffCampanhaPrevistoMesAnterior < 0 ? 'red' : 'green'} "
                            style="margin-top: 2px">
                            {{ vm.diffCampanhaPrevistoMesAnterior > 0 ? '+' : ''}} {{vm.diffCampanhaPrevistoMesAnterior | number:2}}%
                        </h6>
                    </div>
                </div>
                <div class='row'>
                    <div id="graf-campanha-mes"
                         style="width: 88%; height:73px; margin: 0 auto; padding: 0;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title text-center"
                    class='text-center'>Avulso: Enviado mês</h3>
            </div>
            <div class="panel-body"
                 style='padding:0; height: 160px;'>
                <div class='row'>
                    <h4 style="margin-bottom: 0"
                        class='text-center'>{{vm.qtdeAvulsoMes | numberToPower}}</h4>
                    <span class='text-center'
                          style="display: block; white-space: nowrap">
                                Enviados
                                </span>
                    <h6 class='text-center'
                        ng-style="{'color' : vm.diffAvulsoEnviadoMesAnterior < 0 ? 'red' : 'green'} "
                        style="margin-top: 2px">
                        {{ vm.diffAvulsoEnviadoMesAnterior > 0 ? '+' : ''}} {{vm.diffAvulsoEnviadoMesAnterior | number:2}}%
                    </h6>
                </div>
                <div class='row'>
                    <div id="graf-avulso-mes"
                         style="width: 88%; height:73px; margin: 0 auto; padding: 0;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Camp: Enviado/Estimado dia</h3>
            </div>
            <div class="panel-body"
                 style='padding:0 ; height: 160px;'>
                <div class='row'>
                    <div class="col-md-6">
                        <h4 style="margin-bottom: 0"
                            class='text-center'>{{vm.qtdeDiaCampanhas | numberToPower}}</h4>
                        <span class='text-center'
                              style="display: block;white-space: nowrap ">
                                    Enviados ({{vm.qtdePrevistoCampanhasDia > 0 ? (vm.qtdeDiaCampanhas / vm.qtdePrevistoCampanhasDia * 100) : 0 | number:2}}%)
                                </span>
                    </div>
                    <div class="col-md-6">
                        <h4 style="margin-bottom: 0"
                            class='text-center'>{{vm.qtdePrevistoCampanhasDia | numberToPower}}</h4>
                        <span class='text-center'
                              style="display: block">Estimado</span>
                    </div>
                </div>
                <div class='row'>
                    <div id="graf-campanha-dia"
                         style="width: 88%; height:73px; margin: 0 auto; padding: 0;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Avulso: Enviado dia</h3>
            </div>
            <div class="panel-body"
                 style='padding:0 ; height: 160px;'>
                <div class='row'>
                    <h4 style="margin-bottom: 0"
                        class='text-center'>{{vm.qtdeAvulsoDia | numberToPower}}</h4>
                    <span class='text-center'
                          style="display: block; white-space: nowrap">
                                Enviados
                            </span>
                </div>
                <div class='row'>
                    <div id="graf-avulso-dia"
                         style="width: 88%; height:73px; margin: 0 auto; padding: 0;"></div>
                </div>
            </div>
        </div>
    </div>
</div>