<br/>
<br/>
<div class="col-md-12">
    <div class="col-md-10">
        <div class="panel panel-default"
             style="height: 45vh">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Fila de envio</h3>
            </div>
            <div class="panel-body"
                 style="height: 90% ">
                <div id="graf-fila-envio"
                     style="min-width: 310px;  height: 100%; margin: 0 auto"></div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default"
                     style="height: 21vh">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Atraso de envio(GSM)</h3>
                    </div>
                    <div class="panel-body"
                         style='padding:0'>
     
                        <div class='row'>
                            <h3 class='text-center'
                                style='margin-bottom:0; margin-top: 0px'>{{vm.atrasoGSM | secondsToTime:true}}</h3>
                            <span class='text-center'
                                  style="display: block">Médio</span>
                        </div>
                        <div class='row'>
                            <h3 class='text-center'
                                style='margin-bottom:0; margin-top: 0px'>{{vm.maxAtrasoGSM | secondsToTime:true}}</h3>
                            <span class='text-center'
                                  style="display: block">Máximo</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default"
                     style="height: 22vh">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Atraso de envio (LA)</h3>
                    </div>
                    <div class="panel-body"
                         style='padding:0'>

                        <div class='row'>
                            <h3 class='text-center'
                                style='margin-bottom:0; margin-top: 0px'>{{vm.atrasoLA | secondsToTime:true}}</h3>
                            <span class='text-center'
                                  style="display: block">Médio</span>
                        </div>
                        <div class='row'>
                            <h3 class='text-center'
                                style='margin-bottom:0; margin-top: 0px'>{{vm.maxAtrasoLA | secondsToTime:true}}</h3>
                            <span class='text-center'
                                  style="display: block">Máximo</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default"
                     style="height: 22vh">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Entregue no prazo (GSM)</h3>
                    </div>
                    <div class="panel-body row "
                         style="height: 85% ">
                        <div class='col-md-4'
                             id="graf-entregue-dia-gsm"
                             style="min-width: 90px; height:100%; margin: 0 auto; padding: 0;"></div>
                        <div class='col-md-4'
                             id="graf-entregue-semana-gsm"
                             style="min-width: 90px; height: 100%; margin: 0 auto;padding: 0; "></div>
                        <div class='col-md-4'
                             id="graf-entregue-mes-gsm"
                             style="min-width: 90px; height: 100%; margin: 0 auto;padding: 0;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default"
                     style="height: 22vh">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Entregue no prazo (LA)</h3>
                    </div>
                    <div class="panel-body row "
                         style="height: 85% ">
                        <div class="col-md-4"
                             id="graf-entregue-dia-la"
                             style="min-width: 90px; height:100%;margin: 0 auto; padding: 0;"></div>
                        <div class="col-md-4"
                             id="graf-entregue-semana-la"
                             style="min-width: 90px;  height:100%;margin: 0 auto; padding: 0;"></div>
                        <div class="col-md-4"
                             id="graf-entregue-mes-la"
                             style="min-width: 90px;  height:100%;margin: 0 auto;padding: 0;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default"
                     style="height: 22vh">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Enviado/Previsto mês (GSM)</h3>
                    </div>
                    <div class="panel-body row">
                        <div class="col-md-6">
                            <h3 style="margin-bottom: 0"
                                class='text-center'>
                                {{vm.qtdeMesGSM | numberToPower}} </h3>
                            <span class='text-center'
                                  style="display: block">Enviados ({{vm.qtdePrevistoMesGSM > 0 ? (vm.qtdeMesGSM / vm.qtdePrevistoMesGSM * 100) : 0 | number:2}}%)</span>
                            <h5 class='text-center'
                                ng-style="{'color' : vm.diffMesGSM < 0 ? 'red' : 'green'} ">
                                {{ vm.diffMesGSM > 0 ? '+' : ''}} {{vm.diffMesGSM | number:2}}%
                            </h5>
                        </div>
                        <div class="col-md-6">
                            <h3 style="margin-bottom: 0"
                                class='text-center'>
                                {{vm.qtdePrevistoMesGSM | numberToPower}}
                            </h3>
                            <span class='text-center'
                                  style="display: block">Previsto </span>
                            <h5 style="margin-bottom: 0"
                                class='text-center'
                                ng-style="{'color' : vm.diffMesGSM < 0 ? 'red' : 'green'} ">
                                {{ vm.diffPrevistoMesGSM > 0 ? '+' : ''}} {{vm.diffPrevistoMesGSM | number:2}}%
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default"
                     style="height: 22vh">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center"
                            class='text-center'>Enviado/Previsto mês (LA)</h3>
                    </div>
                    <div class="panel-body row">
                        <div class="col-md-6">
                            <h3 style="margin-bottom: 0"
                                class='text-center'>{{vm.qtdeMesLA | numberToPower}}</h3>
                            <span class='text-center'
                                  style="display: block">Enviados ({{qtdePrevistoMesLA > 0 ? (vm.qtdeMesLA / vm.qtdePrevistoMesLA * 100 ) : 0| number:2}}%)</span>
                            <h5 style="margin-bottom: 0"
                                class='text-center'
                                ng-style="{'color' : vm.diffMesLA < 0 ? 'red' : 'green'} ">
                                {{ vm.diffMesLA > 0 ? '+' : ''}} {{vm.diffMesLA | number:2}}%
                            </h5>
                        </div>
                        <div class="col-md-6">
                            <h3 style="margin-bottom: 0"
                                class='text-center'
                                style="margin-bottom: 0">{{vm.qtdePrevistoMesLA | numberToPower}}</h3>
                            <span class='text-center'
                                  style="display: block">Previsto</span>
                            <h5 style="margin-bottom: 0"
                                class='text-center'
                                ng-style="{'color' : vm.diffMesLA < 0 ? 'red' : 'green'} ">
                                {{ vm.diffPrevistoMesLA > 0 ? '+' : ''}} {{vm.diffPrevistoMesLA | number:2}}%
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default"
                     style="height: 22vh">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Enviado/Previsto dia (GSM)</h3>
                    </div>
                    <div class="panel-body row">
                        <div class="col-md-6">
                            <h3 style="margin-bottom: 0"
                                class='text-center'>{{vm.qtdeDiaGSM | numberToPower}}</h3>
                            <span class='text-center'
                                  style="display: block">Enviados ({{vm.qtdePrevistoDiaGSM > 0 ? (vm.qtdeDiaGSM / vm.qtdePrevistoDiaGSM * 100) : 0 | number:2}}%)</span>
                        </div>
                        <div class="col-md-6">
                            <h3 style="margin-bottom: 0"
                                class='text-center'>{{vm.qtdePrevistoDiaGSM | numberToPower}}</h3>
                            <span class='text-center'
                                  style="display: block">Previsto</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default"
                     style="height: 22vh">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Enviado/Previsto dia (LA)</h3>
                    </div>
                    <div class="panel-body row">
                        <div class="col-md-6">
                            <h3 style="margin-bottom: 0"
                                class='text-center'>{{vm.qtdeDiaLA | numberToPower}}</h3>
                            <span class='text-center'
                                  style="display: block">Enviados ({{vm.qtdePrevistoDiaLA > 0 ? (vm.qtdeDiaLA / vm.qtdePrevistoDiaLA * 100) : 0 | number:2}}%)</span>
                        </div>
                        <div class="col-md-6">
                            <h3 style="margin-bottom: 0"
                                class='text-center'>{{vm.qtdePrevistoDiaLA | numberToPower}}</h3>
                            <span class='text-center'
                                  style="display: block">Previsto</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>