</br>
</br>
</br>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default"
                 style="margin: 5px">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Horas estimadas x realizadas</h3>
                </div>
                <div class="panel-body row">
                    <div id="graf-horas-estimadas-realizadas"
                         style="min-width: 100px; height: 400px; margin: 0 auto"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="panel panel-default"
                 style="margin: 5px">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Demandas entregues no prazo</h3>
                </div>
                <div class="panel-body row">
                    <div id="graf-procent-demandas-no-prazo"
                         style="min-width: 100px; height: 400px; margin: 0 auto"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default"
                 style="margin: 5px">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Média de atraso no mês</h3>
                </div>
                <div class="panel-body row text-center"
                     style="height: 230px; ">
                    </br>
                    <h1>{{vm.mediaAtrasoMes}}</h1> <b>Dias</b>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default"
                 style="margin: 5px">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Épicos sem estimativa</h3>
                </div>
                <div class="panel-body row text-center"
                     style="height: 230px; ">
                    </br>
                    <h1>{{vm.total_sem_estimativa}}</h1> <b>Épicos </b>
                </div>
            </div>
        </div>
    </div>
</div>