<br/>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-default"
                 style="height: 46vh">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Fila de envio</h3>
                </div>
                <div class="panel-body"
                     style='height: 95%'>
                    <div id="graf-fila-envio"
                         style="min-width: 310px; padding-bottom: 40px; height: 100%; margin: 0 auto">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default"
                         style="height: 22vh">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">Chamadas em curso</h3>
                        </div>
                        <div class="panel-body row">
                            <br/>
                            <h2 style="margin: 15px 0 0 0"
                                class='text-center'>{{vm.chamadasEmCurso | number:0}}</h2>
                            <span class='text-center'
                                  style="display: block">Chamadas</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default"
                         style="height: 22vh">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">Vazão de chamadas</h3>
                        </div>
                        <div class="panel-body row">
                            <br/>
                            <h2 style="margin: 15px 0 0 0"
                                class='text-center'>{{vm.vazao | numberToPower}}</h2>
                            <span class='text-center'
                                  style="display: block">Chamadas/hora</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default"
                         style="height: 22vh">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">Atrasos/Falhas de chamadas</h3>
                        </div>
                        <div class="panel-body"
                             style='padding:0'>
                            <br/>
                            <div class='col-md-4'>
                                <h3 class='text-center'
                                    style='margin-bottom:0; margin-top:0'>{{vm.chamadasAtrasadas }}</h3>
                                <span class='text-center'
                                      style="display: block">Chamadas</span>
                                <br/>
                                <h3 class='text-center'
                                    style='margin-bottom:0; margin-top: 0'>{{vm.campanhasAtrasadas }}</h3>
                                <span class='text-center'
                                      style="display: block">Campanhas</span>
                            </div>
                            <div class='col-md-4'
                                 style='padding:0'>
                                <h3 class='text-center'
                                    style='margin-bottom:0; margin-top: 0'>{{vm.atrasoMedio | secondsToTime:true}}</h3>
                                <span class='text-center'
                                      style="display: block">Médio</span>
                                <br/>
                                <h3 class='text-center'
                                    style='margin-bottom:0; margin-top: 0'>{{vm.atrasoMaximo | secondsToTime:true}}</h3>
                                <span class='text-center'
                                      style="display: block">Máximo</span>
                            </div>
                            <div class='col-md-4'
                                 style='padding-top:20px'>
                                <h3 class='text-center'>{{vm.falhaTts }}</h3>
                                <span class='text-center'
                                      style="display: block">Falhas TTS</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default"
                         style="height: 22vh">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">Redirecionamentos Algar (Dia)</h3>
                        </div>
                        <div class="panel-body"
                             style='padding:0'>
                            <br>
                            <div class='row'>
                                <div id="graf-redirecionados-algar"
                                     style="width: 88%; height:160px; margin: 0 auto; padding: 0;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default"
                         style="height: 46vh">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center"
                                class='text-center'>Enviado/Estimado dia</h3>
                        </div>
                        <div class="panel-body"
                             style='padding:0'>
                            <div class='row'>
                                <div class="col-md-6">
                                    <h2 style="margin-bottom: 0"
                                        class='text-center'>
                                        {{vm.qtdeEnviadosDia | numberToPower}} </h2>
                                    <span class='text-center'
                                          style="display: block; white-space: nowrap">
                                    Enviados ({{vm.qtdeEnviadosDia > 0 ? (vm.qtdeEnviadosDia / vm.qtdeEstimadosDia * 100) : 0 | number:2}}%)</span>
                                </div>
                                <div class="col-md-6">
                                    <h2 style="margin-bottom: 0"
                                        class='text-center'>
                                        {{vm.qtdeEstimadosDia | numberToPower}}
                                    </h2>
                                    <span class='text-center'
                                          style="display: block">Estimado </span>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class='row'>
                                <div id="graf-status-dia"
                                     style="width: 88%; height:100px; margin: 0 auto; padding: 0;"></div>
                            </div>
                            <div class='row'>
                                <div id="graf-rotas-dia"
                                     style="width: 88%; height:100px; margin: 0 auto; padding: 0;"></div>
                            </div>
                            <div class='row'>
                                <div id="graf-tipos_destino-dia"
                                     style="width: 88%; height:100px; margin: 0 auto; padding: 0;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default"
                         style="height: 46vh">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">Enviado/Estimado mês</h3>
                        </div>
                        <div class="panel-body"
                             style='padding:0'>
                            <div class='row'>
                                <div class="col-md-6">
                                    <h2 style="margin-bottom: 0"
                                        class='text-center'>
                                        {{vm.qtdeEnviadosMes | numberToPower}} </h2>
                                    <span class='text-center'
                                          style="display: block; white-space: nowrap">
                                Enviados ({{vm.qtdeEnviadosMes > 0 ? (vm.qtdeEnviadosMes / vm.qtdeEstimadoMes * 100) : 0 | number:2}}%)</span>
                                    <h6 class='text-center'
                                        ng-style="{'color' : vm.diffEnviadoMesAnterior < 0 ? 'red' : 'green'} "
                                        style="margin-top: 2px">
                                        {{ vm.diffEnviadoMesAnterior > 0 ? '+' : ''}} {{vm.diffEnviadoMesAnterior | number:2}}%
                                    </h6>
                                </div>
                                <div class="col-md-6">
                                    <h2 style="margin-bottom: 0"
                                        class='text-center'>
                                        {{vm.qtdeEstimadoMes | numberToPower}}
                                    </h2>
                                    <span class='text-center'
                                          style="display: block">Estimado </span>
                                    <h6 class='text-center'
                                        ng-style="{'color' : vm.diffEstimadoMesAnterior < 0 ? 'red' : 'green'} "
                                        style="margin-top: 2px">
                                        {{ vm.diffEstimadoMesAnterior > 0 ? '+' : ''}} {{vm.diffEstimadoMesAnterior | number:2}}%
                                    </h6>
                                </div>
                            </div>
                            <br>
                            <div class='row'>
                                <div id="graf-status-mes"
                                     style="width: 88%; height:100px; margin: 0 auto; padding: 0;"></div>
                            </div>
                            <div class='row'>
                                <div id="graf-rotas-mes"
                                     style="width: 88%; height:100px; margin: 0 auto; padding: 0;"></div>
                            </div>
                            <div class='row'>
                                <div id="graf-tipos_destino-mes"
                                     style="width: 88%; height:100px; margin: 0 auto; padding: 0;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>