<br/>
<div class="col-md-12">
    <div class="row">
        <div class='col-md-3 nga-fast nga-stagger-fast nga-fade'
             ng-repeat="time in vm.times">
            <div class="panel panel-default"
                 style="margin: 5px; height: 63vh;">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">{{time}}</h3>
                </div>
                <div class="panel-body row"
                     style="height: 95% ">
                    <div id="graf-horas-mes-{{time}}"
                         style="min-width: 90px; width:100%; height: 30%; margin: 0 auto"></div>
                    <div id="graf-horas-semana-{{time}}"
                         style="min-width: 90px; width:100%; height: 30%; margin: 0 auto"></div>
                    <div id="graf-horas-dia-{{time}}"
                         style="min-width: 90px; width:100%; height: 30%; margin: 0 auto"></div>
                </div>
            </div>
        </div>
        <div class='col-md-2'
             ng-if="vm.times.length < 4"
             class="nga-default nga-stagger nga-slide-left-move">
            <div class="panel panel-default"
                 style="margin: 5px">
                <div class="panel-heading">
                    <h3 class="panel-title text-center"><b>Geral</b></h3>
                </div>
                <div class="panel-body row"
                     style="height: 95% ">
                    <div id="graf-horas-mes-geral"
                         style="min-width: 90px; width:100%; height: 30%; margin: 0 auto"></div>
                    <div id="graf-horas-semana-geral"
                         style="min-width: 90px; height: 120px; margin: 0 auto"></div>
                    <div id="graf-horas-dia-geral"
                         style="min-width: 90px; height: 120px; margin: 0 auto"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row"
         ng-if="vm.times.length >= 4">
        <div class="col-md-12">
            <div class="panel panel-default"
                 style="margin: 5px; height: 30vh;">
                <div class="panel-heading">
                    <h3 class="panel-title">Lançamento Geral</h3>
                </div>
                <div class="panel-body row"
                     style="height: 95% ">
                    <div class="col-md-4 "
                         style="height: 95% ">
                        <div id="graf-horas-mes-geral"
                             style="min-width: 90px; width:90%; height: 90%; margin: 0 auto"></div>
                    </div>
                    <div class="col-md-4 "
                         style="height: 95% ">
                        <div id="graf-horas-semana-geral"
                             style="min-width: 90px; width:90%; height: 90%; margin: 0 auto"></div>
                    </div>
                    <div class="col-md-4 "
                         style="height: 95% ">
                        <div id="graf-horas-dia-geral"
                             style="min-width: 90px; width:90%; height: 90%; margin: 0 auto"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>