</br>

<style>
    #info-bancos-container * {
        font-size: 1vw !important;
    }
</style>

<div class="col-md-12">
    <div class="row">
        <div class='col-md-6'>
            <div class="panel panel-default"
                 style="height: 47vh; min-height:260px; margin: 5px">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Status geral</h3>
                </div>
                <div class="panel-body">
                    <div id='info-bancos-container'>
                        <div class="input-group"
                             style="margin-bottom:5px"
                             ng-repeat='(banco, dados) in vm.statusBancos'>
                            <label class="form-control">{{banco | uppercase}}  ({{dados.uptime  | secondsToTime}})</label>
                            <div class="input-group-btn">
                                <button class="btn"
                                        ng-class="dados.connections > 250 ? 'btn-danger' : (dados.connections > 100 ? 'btn-warning' : 'btn-success')"
                                        type="button"
                                        style="width:11vw"> 
                                    Conexões
                                    <span class="badge"> {{dados.connections}}  </span> 
                                </button>
                                <button class="btn"
                                        ng-class="dados.queries_ps > 5000 ? 'btn-danger' : (dados.queries_ps > 2500 ? 'btn-warning' : 'btn-success')"
                                        type="button"
                                        style="width:11vw"> 
                                    Queries/s
                                    <span class="badge"> {{dados.queries_ps | number:0}}  </span> 
                                </button>
                                <button class="btn"
                                        ng-class="dados.slow_queries > 20 ? 'btn-danger' : (dados.slow_queries > 10 ? 'btn-warning' : 'btn-success')"
                                        type="button"
                                        style="width:11vw"> 
                                    Queries lentas
                                    <span class="badge"> {{dados.slow_queries}}  </span> 
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-md-6'>
            <div class="panel panel-default"
                 style="height: 47vh; min-height:260px; margin: 5px">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Conexões</h3>
                </div>
                <div class="panel-body"
                     style="height: 90% ">
                    <div id="graf-conexoes"
                         style="min-width: 310px; height: 100%; margin: 0 auto"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class='col-md-6'>
            <div class="panel panel-default"
                 style="height: 47vh; min-height:260px; margin: 5px">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Queries por segundo</h3>
                </div>
                <div class="panel-body"
                     style="height: 90% ">
                    <div id="graf-queries-ps"
                         style="min-width: 310px; height: 100%; margin: 0 auto"></div>
                </div>
            </div>
        </div>
        <div class='col-md-6'>
            <div class="panel panel-default"
                 style="height: 47vh; min-height:260px; margin: 5px">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Queries lentas</h3>
                </div>
                <div class="panel-body"
                     style="height: 90% ">
                    <div id="graf-queries-lentas"
                         style="min-width: 310px; height: 100%; margin: 0 auto"></div>
                </div>
            </div>
        </div>
    </div>
</div>