<div class="panel panel-default"
     style="height: 100%; width:100%; padding-bottom: 36px">
    <div class="panel-heading">
        <h3 class="panel-title text-center">{{widget.options.titulo}}</h3>
    </div>
    <div class="panel-body text-center"
         style='padding:5px; height: 100%; overflow-y: auto'>
        <h1 style='margin: 10%'>{{vm.valor }}</h1>
    </div>
</div>