<!DOCTYPE html>
<html lang="pt-br"
      data-ng-app="app"
      ng-strict-di>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge, chrome=1" />
    <meta name="viewport"
          content="
            width=device-width, 
            initial-scale=1, 
            maximum-scale=1, 
            minimum-scale=1, 
            user-scalable=no" />
    <title data-ng-bind="title">Dashboard PG+</title>
    <!-- inject:css -->
    <!-- endinject -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->
</head>

<body style='background-image: url("assets/img/background.png");'>
    <div ng-if='showNavbar'
         ng-include="'app/core/views/navbar.html'"></div>
    <div ng-class="{blur: blur}"
         data-ng-view
         class="fader-animation"></div>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
    <!-- inject:js -->
    <!-- endinject -->
</body>

</html>